<div class="popup __selected">
    <span class="popup-close close">&times;</span>
    <div class="popup-content">
        <div class="popup-title">Контакт #{id}</div>
        <div class="view">
            <div class="row">
                <div class="col-sm-6 view_title">Фамилия</div><div class="col-sm-6 view_value">{family}</div>
            </div>
            <div class="row">
                <div class="col-sm-6 view_title">Имя</div><div class="col-sm-6 view_value">{name}</div>
            </div>
            <div class="row">
                <div class="col-sm-6 view_title">Отчество</div><div class="col-sm-6 view_value">{surname}</div>
            </div>
            <div class="row">
                <div class="col-sm-6 view_title">Телефон</div><div class="col-sm-6 view_value">{phone}</div>
            </div>
            <div class="row">
                <div class="col-sm-6 view_title">E-mail</div><div class="col-sm-6 view_value">{email}</div>
            </div>
        </div>
    </div>
</div>